<% include partials/header.ejs %>
    <div class="container main">
    <h3>Welcome <%= user.username %></h3>
    <h5>Your Stories</h5>
    <table class="striped">
    	<thead>
    		<tr>
    			<th>Title</th>
	    		<th>Date</th>
	    		<th>Status</th>
	    		<th></th>
    		</tr>
    	</thead>
    	<tbody>
    		<% stories.map(story => { %>
    		<tr>
					<td><a href="/stories/show/<%= story._id %>"><%= story.title %></a></td>
					<td><%= story.date.toDateString() %></td>
					<td><%= story.status %></td>
					<td><a href="/stories/edit/<%= story._id %>" class="btn waves-effect waves-light"><i class="left material-icons">mode_edit</i> Edit</a></td>
					<td><form action="/stories/delete/<%= story._id %>" method="post">
						<button type="submit"  class="btn waves-effect waves-light red"><i class="left material-icons">remove_circle</i>Delete</button>
					</form></td>
    		</tr>
    		<% }) %>
    	</tbody>
    </table>

    </div>
<% include partials/footer.ejs %>